<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <h1> flight list </h1>
    <table class="table table-dark" >
        <thead>
            <tr>
                <th> Origin</th>
                <th> Destination</th>
                <th> Durations</th>
            </tr>
        </thead>
        <tbody>
            {% for flight in flights %}
                <tr>
                    <td> {{ flight.origin }}</td>
                    <td> {{ flight.destination }}</td>
                    <td> {{ flight.duration }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


</body>
</html>