{% extends "course/layout.html" %}
{% block body %}
    <table id="example">
        <thead>
            <tr>
                <th> Id</th>
                <th> Course Name </th>
                <th> Course duration</th>
                <th> Course Fees </th>
                <th> Action</th>
            </tr>

        </thead>
        <tbody>
                {% for course in courses %}
                    <tr>
                        <td> {{ course.id }}</td>
                        <td> {{ course.name }}</td>
                        <td> {{ course.duration }}</td>
                        <td> {{ course.fees }}</td>
                        <td>
                            <a href="{% url 'update' course.id %}">Update</a>
                            &nbsp;&nbsp;&nbsp;
                            <a href="{% url 'delete' course.id %}">Delete</a>
                             &nbsp;&nbsp;&nbsp;
                            <a href="{% url 'detail' course.id %}">View More</a>

                        </td>
                    </tr>
                {% endfor %}

        </tbody>
    </table>
{% endblock %}